.item1 { grid-area: header; 
            
}
.item2 { grid-area: menu; 
    background-color:rgb(11,76,26);
    color:white;
}
.item3 { grid-area: main; }

.item4 { grid-area:right;}


.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main main main';
  background-color: white;
  padding: 10px;
}
 .grid-container > div {
    padding: 5px;
 }
 
