.encabezados{
    text-align: center;
    color: blue;
    font-size: 200%;
}
.parrafos {
    margin-left: 20px;
    text-align: left;
    color: yellow;
}
body {
    background: linear-gradient(#0eff1e,#ffffff);
    background-repeat:no-repeat;
  }
.caja {
    background-color: gainsboro;
    height: 200px;
    width: 200px;
}